 <style>

.active, .inactive {font-size:30px;cursor:pointer;background-color:#fff}
.active, .inactive {font-size:30px;cursor:pointer;background-color:#fff}
i.active { color: #5cb85c}
i.inactive {color: #d9534f}
</style>
			    
			    <div class="modal-header">
			        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
			    </div>
			    <div class="modal-body">
			        <form role="form" name="_form">
			            <div class="row form-group">
			                <div class="col-lg-12">
			                    <label>Tên thiết bị <span style="color: red"> (*)</span> </label>
			                    <input type="text" class="form-control" ng-model="target.name" id="name" name="name" required>
			                    <span style="color:red" ng-show="_form.name.$dirty && _form.name.$invalid">
			                        <span ng-show="_form.name.$error.required">Không được để trống</span>
			                        <span ng-show="_form.name.$error.maxlength">Bạn không được nhập quá 50 ký tự</span>
			                    </span>
			                </div>
			            </div>
   			            <div class="row form-group">
			                <div class="col-lg-12">
			                    <label>Giờ kích hoạt <span style="color: red"> (*)</span> </label>
			                    <input type="time" class="form-control" ng-model="target.timeStart" id="timeStart" name="timeStart" required>
			                    <span style="color:red" ng-show="_form.timeStart.$dirty && _form.timeStart.$invalid">
			                        <span ng-show="_form.timeStart.$error.required">Không được để trống</span>
			                    </span>
			                </div>
			            </div>
   			            <div class="row form-group">
			                <div class="col-lg-12">
			                    <label>Lặp lại <span style="color: red"> (*)</span> </label>
			                    <input type="time" class="form-control" ng-model="target.day" id="day" name="day" >
			                    <span style="color:red" ng-show="_form.timeStart.$dirty && _form.timeStart.$invalid">
			                    </span>
			                </div>
			            </div>
   			            <div class="row form-group">
			                <div class="col-lg-12">
			                    <label>Thiết bị <span style="color: red"> (*)</span> </label>
			                    <input type="time" class="form-control" ng-model="target.day" id="day" name="day" >
			                    <span style="color:red" ng-show="_form.timeStart.$dirty && _form.timeStart.$invalid">
			                    </span>
			                </div>
			            </div>
   			            <div class="row form-group">
			                <div class="col-lg-12">
			                    <label>Trạng thái thiết bị <span style="color: red"> (*)</span> </label>
			                    <input type="time" class="form-control" ng-model="target.statusEquipment" id="statusEquipment" name="statusEquipment" >
			                    <span style="color:red" ng-show="_form.timeStart.$dirty && _form.timeStart.$invalid">
			                    </span>
			                </div>
			            </div>
			        </form>
			    </div>
			    <div class="modal-footer">
			        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
			        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
			    </div>
