<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dqv.smarthome">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Default">
        <service
            android:name=".EnvironmentService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Activity.SelectEquipActivity" />
        <activity android:name=".Activity.SelectScriptActivity" />
        <activity android:name=".Activity.AddScheduleTBActivity" />
        <activity android:name=".Activity.AddScheduleKBActivity" />
        <activity android:name=".Activity.ScheduleKBActivity" />
        <activity android:name=".Activity.ScheduleTBActivity" />
        <activity android:name=".Activity.ScriptActivity" />
        <activity android:name=".Activity.EquipmentActivity" />
        <activity android:name=".Activity.AddRoomActivity" />
        <activity android:name=".Activity.RoomActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity android:name=".Activity.EnvironmentActivity" />
    </application>

</manifest>