<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-12">
                    <label>Tên thiết bị <span style="color: red"> (*)</span> </label>
                    <input type="text" class="form-control" ng-model="target.name" id="name" name="name" required>
                    <span style="color:red" ng-show="_form.name.$dirty && _form.name.$invalid">
                        <span ng-show="_form.name.$error.required">Không được để trống</span>
                        <span ng-show="_form.name.$error.maxlength">Bạn không được nhập quá 50 ký tự</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Phòng <span style="color: red"> (*)</span> </label>
                    <select class="form-control" ng-model="target.roomId" ng-options="opt.id as opt.name for opt in lstPhong" name="roomId" required></select>
                    <span style="color:red" ng-show="_form.roomId.$dirty && _form.roomId.$invalid">
                        <span ng-show="_form.roomId.$error.required">Không được để trống</span>
                        <span ng-show="_form.roomId.$error.maxlength">Bạn không được nhập quá 50 ký tự</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Chân điều khiển <span style="color: red"> (*)</span> </label>
                    <input type="text"  awnum="number-int" class="form-control" ng-model="target.portOutput" name="chanel" required>
                    <span style="color:red" ng-show="_form.chanel.$dirty && _form.chanel.$invalid">
                        <span ng-show="_form.chanel.$error.required">Không được để trống</span>
                        <span ng-show="_form.chanel.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>