#circularG{
	position:relative;
	width:83px;
	height:83px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(66,81,107);
	width:19px;
	height:19px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:0.528s;
		-o-animation-duration:0.528s;
		-ms-animation-duration:0.528s;
		-webkit-animation-duration:0.528s;
		-moz-animation-duration:0.528s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:33px;
	animation-delay:0.198s;
		-o-animation-delay:0.198s;
		-ms-animation-delay:0.198s;
		-webkit-animation-delay:0.198s;
		-moz-animation-delay:0.198s;
}

#circularG_2{
	left:8px;
	top:8px;
	animation-delay:0.264s;
		-o-animation-delay:0.264s;
		-ms-animation-delay:0.264s;
		-webkit-animation-delay:0.264s;
		-moz-animation-delay:0.264s;
}

#circularG_3{
	top:0;
	left:33px;
	animation-delay:0.33s;
		-o-animation-delay:0.33s;
		-ms-animation-delay:0.33s;
		-webkit-animation-delay:0.33s;
		-moz-animation-delay:0.33s;
}

#circularG_4{
	right:8px;
	top:8px;
	animation-delay:0.396s;
		-o-animation-delay:0.396s;
		-ms-animation-delay:0.396s;
		-webkit-animation-delay:0.396s;
		-moz-animation-delay:0.396s;
}

#circularG_5{
	right:0;
	top:33px;
	animation-delay:0.462s;
		-o-animation-delay:0.462s;
		-ms-animation-delay:0.462s;
		-webkit-animation-delay:0.462s;
		-moz-animation-delay:0.462s;
}

#circularG_6{
	right:8px;
	bottom:8px;
	animation-delay:0.528s;
		-o-animation-delay:0.528s;
		-ms-animation-delay:0.528s;
		-webkit-animation-delay:0.528s;
		-moz-animation-delay:0.528s;
}

#circularG_7{
	left:33px;
	bottom:0;
	animation-delay:0.594s;
		-o-animation-delay:0.594s;
		-ms-animation-delay:0.594s;
		-webkit-animation-delay:0.594s;
		-moz-animation-delay:0.594s;
}

#circularG_8{
	left:8px;
	bottom:8px;
	animation-delay:0.66s;
		-o-animation-delay:0.66s;
		-ms-animation-delay:0.66s;
		-webkit-animation-delay:0.66s;
		-moz-animation-delay:0.66s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}