<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class = "card-body">
		    <div class="row">
		        <div class="col-lg-12">
		            <h2>Quản lý người dùng</h2>
		            <div style="padding: 20px 0px;">
		                     <div class="input-group-btn">
		                         <button prevent-default class="btn btn-primary" title="Thêm mới" ng-click="create()"  style="float: left;margin-right: 10px;">{{config.label.btnCreate}}</button>
		                        <button class="btn btn-secondary" prevent-default title="Tìm kiếm" ng-click="doSearch()" style="float: right;margin-right: 10px;"><span class="fa fa-search"></span>&ensp;{{config.label.btnSearch}}</button>
			                </div>
			                 <input type="text" class="form-control form-control-sm" style="width: 70%;" ng-model="search.userName" ng-enter="doSearch()">
		            </div>
		            <div class="table-responsive">
		                <table class="table table-bordered table-hover table-striped">
		                    <thead>
		                        <tr>
		                            <th width="10%">Hành động</th>
		                            <th width="100px">STT</th>
		                            <th>
		                                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
		                                    Tên đăng nhập
		                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
		                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
		                                </a>
		                            </th>
		                            <th>
		                                <a ng-click="sortType = 'chanel'; sortReverse = !sortReverse">
		                                    Tên đầy đủ
		                                    <span ng-show="sortType == 'chanel' && !sortReverse" class="fa fa-caret-down"></span>
		                                    <span ng-show="sortType == 'chanel' && sortReverse" class="fa fa-caret-up"></span>
		                                </a>
		                            </th>
		                            <th>
		                                <a ng-click="sortType = 'chanel'; sortReverse = !sortReverse">
		                                    Loại tài khoản
		                                    <span ng-show="sortType == 'chanel' && !sortReverse" class="fa fa-caret-down"></span>
		                                    <span ng-show="sortType == 'chanel' && sortReverse" class="fa fa-caret-up"></span>
		                                </a>
		                            </th>
		                            		                            <th>
		                                <a ng-click="sortType = 'chanel'; sortReverse = !sortReverse">
		                                    Đơn vị
		                                    <span ng-show="sortType == 'chanel' && !sortReverse" class="fa fa-caret-down"></span>
		                                    <span ng-show="sortType == 'chanel' && sortReverse" class="fa fa-caret-up"></span>
		                                </a>
		                            </th>		                            
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr ng-show="data==NULL ||data.length<=0">
		                            <td colspan="8" style="background-color: #e2e2e2;">
		                                <p>Không có dữ liệu</p>
		                            </td>
		                        </tr>
		                        <tr ng-repeat="item in data | orderBy:sortType:sortReverse track by $index ">
		                            <td style="text-align: center;">
		                                <a class="fa fa-search" placeholder="Thêm mới" ng-click="detail(item)" ></a> &nbsp;&nbsp;&nbsp;
		                                <a class="fa fa-pencil-square" placeholder="Sửa" ng-click="edit(item)" ></a> &nbsp;&nbsp;&nbsp;
		                                <a class="fa fa-remove" placeholder="Xóa" ng-click="delete(item)"></a>
		                            </td>
		                            <td>{{$index+1}}</td>
		                            <td>{{item.userName}}</td>
		                            <td>{{item.fullName}}</td>
   		                            <td>{{displayHeplerLTK(item.type)}}</td>
   		                            <td>{{displayHeplerDonVi(item.unitCode)}}</td>
		                        </tr>
		                    </tbody>
		                </table>
		                <div style="text-align: right;" ng-if="accessList.View">
		                    <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
		                                    ng-change="pageChanged()"
		                                    items-per-page="paged.itemsPerPage" ng-if="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.maxSize"
		                                    boundary-links="true" num-pages="paged.totalPage"
		                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		                    </uib-pagination>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
