<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
                        http://cxf.apache.org/core 
                        http://cxf.apache.org/schemas/core.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                        
		  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:annotation-config />
    	<context:component-scan base-package="com.dqv.spring.oauth2.controller" />
	<context:component-scan base-package="com.dqv.spring.oauth2.provider" />
		<context:component-scan base-package="com.dqv.spring.oauth2.DAO" />
	     <context:component-scan base-package="com.dqv.spring.oauth2" />
          <context:component-scan base-package="com.dqv.spring.oauth2.DAO" />
     
	
	<mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    
    <!-- hibernate integrate -->
     <import resource="hibernate-config.xml" /> 
       <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    <property name="messageConverters">
	        <array>
	            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	                <constructor-arg index="0" name="defaultCharset" value="UTF-8"/>
	                <property name="supportedMediaTypes"> 
	                    <list>
	                        <value>text/plain;charset=UTF-8</value>
	                        <value>text/html;charset=UTF-8</value>
	                        <value>application/json;charset=UTF-8</value>
	                        <value>application/x-www-form-urlencoded;charset=UTF-8</value>
	                    </list>
	                </property>
		        </bean>
	        </array>
        </property>
        </bean>
    
<!--     <cxf:bus>
        <cxf:properties>
            <entry key="org.apache.cxf.stax.maxChildElements" value="${xml.maxChildElements:500000000}" />
        </cxf:properties>
    </cxf:bus> -->
</beans>